{% extends 'base.html' %}
{% block content %}  
            <div class="view-account-form-cont">
                <form method="POST" action="" class="view-account-form-div">
                    {{ form.hidden_tag() }}
                    <div class="">   
                        {% if form.username.errors %}
                            {{ form.username(class="view-account-form-invalid", placeholder="ელ-ფოსტა") }}
                                {% for error in form.username.errors %}
                                    <span class="view-account-form-error">{{ error }}</span>
                                {% endfor %}
                        {% else %}
                            {{ form.username(class="view-account-form", placeholder="მომხმარებლის სახელი") }}
                        {% endif %}
                    </div>
                    <div class=""> 
                        {% if form.email.errors %}
                            {{ form.email(class="view-account-form-invalid", placeholder="პაროლი") }}
                                {% for error in form.email.errors %}
                                    <span class="view-account-form-error">{{ error }}</span>
                                {% endfor %}
                        {% else %}
                            {{ form.email(class="view-account-form", placeholder="ელ-ფოსტა") }}
                        {% endif %}
                    </div>
                    <div class=""> 
                        {% if form.password.errors %}
                            {{ form.password(class="view-account-form-invalid", placeholder="პაროლი") }}
                                {% for error in form.password.errors %}
                                    <span class="view-account-form-error">{{ error }}</span>
                                {% endfor %}
                        {% else %}
                            {{ form.password(class="view-account-form", placeholder="პაროლი") }}
                        {% endif %}
                    </div>
                    <div class=""> 
                        {% if form.site.errors %}
                            {{ form.site(class="view-account-form-invalid", placeholder="პაროლი") }}
                                {% for error in form.site.errors %}
                                    <span class="view-account-form-error">{{ error }}</span>
                                {% endfor %}
                        {% else %}
                            {{ form.site(class="view-account-form", placeholder="საიტი/აპლიკაცია") }}
                        {% endif %}
                        {{ form.submit(class=("add-acc-sub-btn"), value="დამახსოვრება") }}      
                    </div>  
                </form>
            </div>
 {% endblock %}
