{% extends 'base.html' %}
{% block content %}
    <div class="account-wrap">
        <div class="acc-top-cont">
            <div class="account-pic1-cont">
                <img class="account-pic1" src="{{url_for('static', filename='pictures/account1.svg')}}" alt="">
            </div>   
            <div class="user-info-cont"> 
                <p class="user-name">{{ current_user.first_name }} {{ current_user.last_name }}</p>
                <a href="/my_accounts" class="my-accounts">ჩემი ექაუნთები</a>
            </div>
        </div>


            <div class="account-nav">
                <div class="acc-nav-link-div">
                    <a href="/generate_password" class="acc-nav-link-title">დააგენერირე პაროლი</a>
                    
                </div>
                <div class="acc-nav-link-div">
                    <a href="/add_account" class="acc-nav-link-title">დაამატე ექაუნთი</a>
                </div>
                
            </div>
        </div>      
        <!-- modal add -->
        <!-- end modal -->

    </div>
    <!-- js -->
    <script src="{{url_for('static', filename='account.js')}}"></script>
{% endblock %}