{% extends 'base.html' %}
{% block content %}
    <div class="add-account-wrap">
        <div class="add-account-pic">
            <img class="modal-pic" src="{{url_for('static', filename='pictures/modal.svg')}}" alt="">
        </div>
        <div class="add-account-cont">
            <form method="POST" action="" class="add-acc-form-wrap">
                {{ form.hidden_tag() }}
                <div class="add-account-form-cont">
                    <h1 class="add-account-title">დაამატე ექაუნთი</h1>
                <div class="add-account-form-div">   
                    {% if form.username.errors %}
                        {{ form.username(class="add-account-form-invalid", placeholder="ელ-ფოსტა") }}
                            {% for error in form.username.errors %}
                                <span class="add-account-form-error">{{ error }}</span>
                            {% endfor %}
                    {% else %}
                        {{ form.username(class="add-account-form", placeholder="მომხმარებლის სახელი") }}
                    {% endif %}
                </div>
                <div class="add-account-form-div"> 
                    {% if form.email.errors %}
                        {{ form.email(class="add-account-form-invalid", placeholder="პაროლი") }}
                            {% for error in form.email.errors %}
                                <span class="add-account-form-error">{{ error }}</span>
                            {% endfor %}
                    {% else %}
                        {{ form.email(class="add-account-form", placeholder="ელ-ფოსტა") }}
                    {% endif %}
                </div>
                <div class="add-account-form-div"> 
                    {% if form.password.errors %}
                        {{ form.password(class="add-account-form-invalid", placeholder="პაროლი") }}
                            {% for error in form.password.errors %}
                                <span class="add-account-form-error">{{ error }}</span>
                            {% endfor %}
                    {% else %}
                        {{ form.password(class="add-account-form", placeholder="პაროლი") }}
                    {% endif %}
                </div>
                <div class="add-account-form-div"> 
                    {% if form.site.errors %}
                        {{ form.site(class="add-account-form-invalid", placeholder="პაროლი") }}
                            {% for error in form.site.errors %}
                                <span class="add-account-form-error">{{ error }}</span>
                            {% endfor %}
                    {% else %}
                        {{ form.site(class="add-account-form", placeholder="საიტი/აპლიკაცია") }}
                    {% endif %}
                    {{ form.submit(class=("add-acc-sub-btn")) }}      
                </div>  
                </div>
            </form>
        </div>
    </div>
{% endblock %}