<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>პარ2ლი</title>
    <!-- css -->
    <link rel="stylesheet" type='text/css' href="{{ url_for('static', filename='reset.css') }}">
    <link rel="stylesheet" type='text/css' href="{{ url_for('static', filename='style.css') }}">
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <meta>
</head>

<body>
    <div>
        <nav class="navbar">
            <div class="logo">
                <a href="{{ url_for('home') }}">პარ<span style="color: red;">2</span>ლი</a>
            </div>
            <ul class="nav-ul">
                <li class="li-l"><a href="{{ url_for('home') }}">მთავარი</a></li>
                <li class="li-l"><a href="{{ url_for('about') }}">ჩვენს შესახებ</a></li>
                <li class="li-l"><a href="{{ url_for('contact') }}">კონტაქტი</a></li>
                {% if current_user.is_authenticated %}
                <li class="li-l"><a href="{{ url_for('account') }}"
                        style="text-transform: capitalize;">{{ current_user.first_name }}</a></li>
                <li class="li-logout"><a href="{{ url_for('logout') }}">გამოსვლა</a></li>
                {% else %}
                <li class="li-l"><a href="{{ url_for('login') }}">შესვლა</a></li>
                <li class="li-r"><a href="{{ url_for('register') }}" id="nav-join-us">რეგისტრაცია</a></li>
                {% endif %}
            </ul>
            <div class="navbar-burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </nav>
        {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="{{ category }}" id="hideMe">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        {% block content %}
        {% endblock %}
    </div>
    <!-- js -->
    <script src="{{url_for('static', filename='navbar.js')}}"></script>
</body>

</html>