{% extends 'base.html' %}
{% block content %}
<div class="gen-cont-wrap">
    <div class="gen-cont">
        <a class="go-back" href="/account"><</a>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <div class="gen-form-cont">
                    <p class="gen-value">ზომა: <span id="demo"></span></p>
                    {{ form.password_rng(type="range", min="6", max="124", default="{{ length }}", class="slider", id="myRange") }}
                    <div class="generate-options">
                        <div>
                            {{ form.symbols.label }}
                            {{ form.symbols }}
                        </div>
                        <div>
                            {{ form.numbers.label }}
                            {{ form.numbers }}
                        </div>
                        <div>
                            {{ form.uppercase.label }}
                            {{ form.uppercase }}
                        </div>                    
                        
                    </div>
                    {{ form.submit(class=("gen-sub-btn")) }}
                    <div>
                        <input type="text" readonly value="{{ password }}" class="pass-input" id="myInput">
                        <button class="copy-btn" onclick="myFunction()">დააკოპირე</button>
                    </div>
            </div>
        </form>
        <div>
        </div>
        <div class="pass-pic-div">
            <img class="pass-pic" src="{{url_for('static', filename='pictures/password.svg')}}" alt="generate password">
        </div>
    </div>
</div>
<!-- js -->
<script src="{{url_for('static', filename='generate.js')}}"></script>
{% endblock content %}