{% extends 'base.html' %}
{% block content %}
<div class="login-cont-wrap">
    <div class="login-cont">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <div class="login-form-cont">
            <div class="login-form-div">
                {% if form.password_rng.errors %}
                    {{ form.password_rng(class="login-form-invalid", placeholder="ელ-ფოსტა") }}
                        {% for error in form.password_rng.errors %}
                            <span class="login-form-error">{{ error }}</span>
                        {% endfor %}
                {% else %}
                    {{ form.password_rng(type="range", min="6", max="124", class="login-form", placeholder="ელ-ფოსტა") }}
                {% endif %}
            </div>
            {{ form.submit(class=("login-sub-btn")) }}
            </div>
        </form>
    </div>
    {{ password }}
</div>
{% endblock content %}