{% extends 'base.html' %}
{% block content %}
    {% if current_user.is_authenticated %}
    <div class="home-auth-cont">
    <div class="home-auth-title-div">
        <h2 class="home-auth-title">
            მოგესალმებით <span class="home-auth-current-name">{{ current_user.first_name }}</span>
        </h2>
    </div>
    <div class="home-auth-pic-div">
        <img class="home-auth-pic" src="{{url_for('static', filename='pictures/home-auth.svg')}}" alt="laptop pictures">
    </div>
    <div class="home-auth-nav-div">
        <ul class="home-auth-nav">
            <li><a href="{{ url_for('generate_password') }}">დააგენერირეთ პაროლი</a></li>
        </ul>
        <ul class="home-auth-nav">
            <li><a href="{{ url_for('add_account') }}">დაამატეთ ექაუნთი</a></li>
        </ul>
        <ul class="home-auth-nav">
            <li><a href="{{ url_for('my_accounts') }}">აკონტროლეთ ექაუნთები</a></li>
        </ul>
    </div>
    </div>
    {% else %}
    <div class="home-cont">   
        <div class="home-pic-text-div">
            <div class="home-main-title-div">
                <h1 class="home-main-title" >უსაფრთხო <span style="color: #f33535;">პაროლის</span> მენეჯერი</h1>
                <p>შექმენი მაქსიმალურად დაცული პაროლი და აკონტროლეთ ის ჩვენი მეშვეობით</p>
            </div>
            <div class="home-join-us-div">
                <a class="home-join-us-link" href="{{ url_for('register') }}">შემოგვიერთდი დღესვე</a>
            </div>
        </div>
    </div>
    <div>
    <div class="home-pic-cont">
        <img class="home-pic" src="{{url_for('static', filename='pictures/home-main.svg')}}" alt="generate password">
    </div>
    {% endif %}
    
{% endblock %}
