body {
    margin-top: 7vh;
    background-color: #f9fbfd;
}


/* navbar */
.navbar {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    z-index: 10;
    justify-content: space-between;
    align-items: center;
    height: 7vh;
    font-family: 'Open Sans', sans-serif;
    box-shadow: 0px 0.5px 5px rgba(0, 0, 0, 0.618);
}

.navbar a {
    color: black;
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: bold;
}

.logo {
    width: 10%;
    color: black;
    font-size: 30px;
    font-weight: bolder;
    margin-left: 15px;
    letter-spacing: 3px;
  
}

.nav-ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 800px;
}

.li-r {
    background-color: rgba(255, 0, 0, 0.712);
    border-radius: 20px;
    margin-left: 25px;
    padding: 12px;
    display: flex;
    letter-spacing: 2px;
}

.li-r:hover {
    background-color: #d22d27;
}

.li-r a {
    font-size: 18px;
    font-weight: bold;
    color: white;
    letter-spacing: 2px;

}

.li-logout {
    background-color: rgba(255, 0, 0, 0.712);
    border-radius: 20px;
    margin-left: 25px;
    padding: 12px;
    display: flex;
    justify-content: center;
    width: 150px;
}

.li-logout:hover {
    background-color: #d22d27;
}

.li-logout a {
    color: white;
    letter-spacing: 2px;
}

/* navbar burger */

.navbar-burger {
    display: none;
}

.navbar-burger div {
    background-color: black;
    margin: 5px;
}

.line1 {
    width: 25px;
    height: 2px;
}
.line2 {
    width: 20px;
    height: 2px;
}
.line3 {
    width: 17px;
    height: 2px;
}

/* flash messages */

.flash-info {
    display: flex;
    background: rgba(241, 99, 4, 0.76);
    height: 5vh;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    width: 100%;
    letter-spacing: 2px;
    position: absolute;
    top: 7%;
}

.flash-success {
    display: flex;
    background: rgba(70, 190, 1, 0.363);
    height: 5vh;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    width: 100%;
    z-index: 2;
    letter-spacing: 2px;
    position: absolute;
    top: 7%;
}

.flash-fail {
    display: flex;
    background: rgba(255, 0, 0, 0.521);
    height: 5vh;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    width: 100%;
    /* letter-spacing: 2px; */
    /* transition: 0.3ms; */
    position: absolute;
    top: 7%;
}

/* removing flash messages */
#hideMe {
    -moz-animation: hideAnimation 0s ease-in 5s forwards;
    /* Firefox */
    -webkit-animation: hideAnimation 0s ease-in 5s forwards;
    /* Safari and Chrome */
    -o-animation: hideAnimation 0s ease-in 5s forwards;
    /* Opera */
    animation: hideAnimation 0s ease-in 5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes hideAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}
@-webkit-keyframes hideAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
}

/* home page */
.home-pic-4-cont {
    width: 50%;
}

.home-pic-4 {
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 100%;
    
}



.home-pic-3-cont {
    margin-top: 5%;
    width: 40%;
}

.home-pic-3 {
    max-width: 100%;
}

.home-cont {
  display: flex;
  justify-content: space-evenly;
  height: 93vh;
}


.home-pic-text {
    margin-top: 50px;
    color: #3b3b3b;
    width: 40%;
}

.home-pic-text h1 {
    font-size: 50px;
    letter-spacing: 2px;
    margin-bottom: 50px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    
}

.home-pic-text p {
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    margin-bottom: 80px;
}

.home-pic-text a {
    color: white;
    background-color: #d22d27;
    display: flex;
    justify-content: center;
    width: 70%;
    font-size: 32px;
    letter-spacing: 1px;
    padding: 12px;
    border-radius: 30px;
    margin: auto;
}

.home-pic-text a:hover {
    background-color: #ad2723;
}

/* register */

.reg-cont-wrap {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100vh;
    background-color: #f9fbfd;
}

.reg-cont {
    display: flex;
    width: 35%;
    height: 70vh;
    margin-top: 3%;
    justify-content: space-around;
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.300);
}

.reg-form-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.reg-form-div {
    justify-content: center;
    display: flex;
    width: 100%;
    position: relative;
}

.reg-form-invalid {
    width: 85%;
    height: 50px;
    border: solid 2px #d54949b2;
    border-radius: 20px;
    text-indent: 20px;
    outline: none;
    margin: 5px 0px 25px 0px;
    transition: 0.5s;
}

.reg-form-error {
    font-size: 12px;
    font-weight: bold;
    color: #f30c04;
    display: flex;
    position: absolute;
    letter-spacing: 0.6px;
    bottom: 8%;
    left: 10%;
}

.reg-form-invalid:focus {
    border: solid 2px #cc2d2dd2;
}

.reg-form {
    width: 85%;
    height: 50px;
    border: solid 2px #c3cbcb;
    border-radius: 20px;
    text-indent: 20px;
    box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.15);
    outline: none;
    margin: 5px 0px 25px 0px;
    transition: 0.5s;
}

.reg-form:focus {
    border: solid 2px rgb(125, 125, 243);

}

.reg-title {
    font-size: 34px;
    letter-spacing: 2px;
    padding-bottom: 10%;
    text-align: center;
}

.reg-sub-btn {
    background-color: #d32d27;
    color: white;
    font-size: 20px;
    padding: 10px;
    width: 60%;
    border: none;
    letter-spacing: 3px;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 20px;
    outline: none;
}

.reg-sub-btn:hover{
    background-color: #96201c;
}
.text-muted {
    padding-top: 5%;
}

.reg-login-div {
    display: flex;
    justify-content: center;
    font-size: 14px;
    margin-top: 20px;
    color: #9ea7a7;
}

.reg-login-div a {
    color: black;
    padding-left: 10px;
}

/* register pic */

.reg-pic-cont {
    width: 55%;
    margin-right: 5%;
}

.reg-pic {
    max-width: 100%;
    padding-top: 20px;
}

/* login */

.login-cont-wrap {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100vh;
    background-color: #f9fbfd;
}

.login-cont {
    display: flex;
    width: 35%;
    height: 75vh;
    margin-top: 7%;
    justify-content: space-around;  
}

.login-form-cont {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-form-div {
    width: 100%;
    position: relative;
}

.login-form-invalid {
    width: 100%;
    height: 50px;
    border: solid 2px #d54949b2;
    border-radius: 20px;
    text-indent: 20px;
    outline: none;
    margin: 5px 0px 25px 0px;
    transition: 0.5s;
}

.login-form-error {
    font-size: 12px;
    font-weight: bold;
    color: #f30c04;
    display: flex;
    position: absolute;
    letter-spacing: 0.6px;
    bottom: 8%;
    left: 2%;
}

.login-form {
    width: 100%;
    height: 50px;
    margin: 5px 0px 30px 0px;
    border: solid 2px #c3cbcb;
    border-radius: 30px;
    text-indent: 20px;
    box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.15);
    outline: none;
}

.login-form:focus {
    border: solid 2px rgb(125, 125, 243);

}

.login-form::placeholder{
    font-size: 16px;
}

.login-title {
    font-size: 34px;
    font-weight: bolder;
    letter-spacing: 2px;
    padding-bottom: 7%;
    text-align: center;
}

.login-sub-btn {
    background-color: #d32d27;
    color: white;
    font-size: 20px;
    padding: 10px;
    width: 60%;
    border: none;
    letter-spacing: 3px;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 20px;
    outline: none;
}

.login-sub-btn:hover{
    background-color: #96201c;
}

.login-login-div {
    display: flex;
    justify-content: center;
    font-size: 14px;
    margin-top: 70px;
    color: #9ea7a7;
}

.login-login-div a {
    color: black;
    padding-left: 10px;
}

.log-remember {
    padding: 3% 0% 0% 2%;
    display: flex;
    width: 100%;
    
}

/* login pic */

.login-pic-cont {
    width: 45%;
    margin-right: 5%;
}

.login-pic {
    max-width: 100%;
    padding-top: 100px;
}

/* account */

.account-wrap {
    width: 100%;
    height: 93vh;
    background-image: linear-gradient(to bottom right, #f9fbfd 50%, #d32d27 50%);
    display: flex;
    flex-direction: column;
}

.acc-top-cont {
    display: flex;
    flex-direction: row;
}

.user-info-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 35%;
    height: 90px;
    margin-top: 5%;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.250);
}

.user-name {
    font-size: 32px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    color: #3b3b3b;
}

.my-accounts {
    color: #2c69ed;
    font-weight: bold;
}

.user-pic {
    max-width: 100%;
}

.account-pic1-cont {
    padding-top: 5%;
    padding-left: 5px;
    width: 40%;
}

.account-pic1 {
    max-width: 100%;
}

/* account navigation */

.account-nav {
    /* background: wheat; */
    display: flex;
    justify-content: space-between;
    width: 700px;
    position: absolute;
    bottom: 20%;
    right: 5%;
}

.acc-nav-link-div {
    /* background: white; */
    width: 48%;
    justify-content: space-evenly;
    display: flex;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.250);
    padding: 10px;
    align-items: center;
    border-radius: 10px;
}

.acc-nav-link-div:hover {
    box-shadow: 1px 10px 15px rgba(0, 0, 0, 0.300);

}


.acc-nav-link-title {
    font-size: 24px;
    color: white;
}

.acc-nav-btn {
    border: 1px solid #333333;
    border-radius: 30px;
    outline: none;
}


.acc-nav-link-div a {
    color: white;
}

/* add account modal content */



.add-account-pic {
    width: 50%;
    display: flex;
}

.modal-pic {
    max-width: 90%;
    padding-left: 20px;
}

.add-account-wrap {
    display: flex;
    width: 100%;
    height: 93vh;
}

.add-account-cont {
    display: flex;
    width: 50%;
    
}


.add-account-title {
    font-size: 34px;
    font-weight: bolder;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 50px;
}

.add-account-cont {
    display: flex;
    height: 100%;
    width: 50%;
    /* background: wheat; */
    justify-content: center;
    align-items: center;
}

.add-acc-form-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80vh;
}


.add-account-form-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: auto;
    /* background-color: #2c69ed */
}


.add-account-form-div {
    width: 70%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */

}

.add-account-form {
    width: 100%;
    height: 50px;
    margin-bottom: 30px;
    border: solid 2px #c3cbcb;
    border-radius: 15px;
    text-indent: 12px;
    box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.15);
    outline: none;
    margin-top: 10px;
}

.add-account-form-invalid {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    border: solid 2px #d54949;
    border-radius: 15px;
    text-indent: 12px;
    box-shadow: inset 0 1px 2px 0 rgba(247, 50, 50, 0.192);
    outline: none;
    margin-top: 10px;
}

.add-account-form-error {
    font-size: 12px;
    color: #96201c;
    display: flex;
    padding-left: 5px;
}

.add-acc-sub-btn {
    background-color: #d32d27;
    color: white;
    font-size: 24px;
    padding: 10px;
    width: 100%;
    border: none;
    letter-spacing: 3px;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 50px;
    outline: none;
}

.add-acc-sub-btn:hover {
    background-color: #96201c;
}

.add-account-form:focus {
    border: solid 2px rgb(91, 91, 255);
    box-shadow: inset 0 1px 3px 0 rgba(95, 87, 255, 0.392);
}

.add-account-form::placeholder{
    font-size: 16px;
}

/* generate password */

.gen-cont-wrap {
    display: flex;
}

.gen-cont {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 50vh;
}

.gen-form-cont {
    width: 55%;
    height: 25vh;
    margin: auto;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}


.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-bottom: 30px;
}



.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #f35151;
    cursor: pointer;
  }

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #f35151;
    cursor: pointer;
  }


.generate-options {
    font-size: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5px;
    color: #3b3b3b;
}

.generate-options div {
    display: flex;
    align-items: center;   
}

.gen-sub-btn {
    background-color: #df6f71;
    border: none;
    outline: none;
    color: white;
    font-size: 24px;
    letter-spacing: 3px;
    font-weight: bold;
    padding: 10px;
    border-radius: 30px;
    cursor: pointer;
    margin-bottom: 3px;
}

.gen-sub-btn:hover {
    background-color: #d14444;
}

.gen-value {
    font-size: 20px;
    font-weight: bold;
    color: #3b3b3b;
}

.pass-input {
    height: 50px;
    font-size: 12px;
    color: red;
    border: 2px solid #333333;
    border-radius: 10px;
    outline: none;
    padding: 1px;
    text-align: center;
    margin-bottom: 10px;
    width: 84%;
}

.copy-btn {
    background: #10971bd2;
    border: none;
    outline: none;
    width: 15%;
    font-size: 14px;
    color: #fff;
    letter-spacing: 0.5px;
    border-radius: 15px;
    height: 49px;
    padding: 15px 0px 15px 0px;
    align-self: center;
    cursor: pointer;
    box-shadow: 0px 0.5px 5px rgba(0, 0, 0, 0.618);
}

.copy-btn:hover {
    background: #0a6612d2;
}


.pass-pic-div {
    height: 60vh;
    display: flex;
    margin: auto;
}

.pass-pic {
    max-height: 100%;
    margin: auto;
}

.go-back {
    position: absolute;
    font-size: 70px;
    left: 0px;
    font-weight: bold;
    color: #333333;
    padding: 10px;
}

.go-back:hover {
    color: red;
}

/* my_accounts */
.accounts-cont {
    display: flex;
}

.accounts-p-cont {
    display: flex;
    width: 40%;
    height: 93vh;
    border-right: 2px solid #d4e0e0;
    /* background: #96201c; */
}
.accounts-info-cont {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 93vh;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.accounts-info {
    display: flex;
    width: 80%;
    height: 10%;
    background-color: #fff;
    align-items: center;
    border-radius: 10px;
    position: relative;
    margin-top: 3%;
    box-shadow: 0px 0.5px 5px rgba(0, 0, 0, 0.300);
}

.acc-info-desc {
    display: flex;
    flex-direction: column;
}

/* acc info */
.acc-info-N {
    width: 65px;
    height: 65px;
    line-height: 65px;
    border-radius: 50%;
    font-size: 50px;
    color: #fff;
    text-align: center;
    background: #6c35ebb6;
    text-transform: uppercase;
    margin-right: 10px;
    margin-left: 10px;
    
}

.acc-info-title {
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    margin-top: 10px;
    color: #424242;
    text-align: left;
}

.acc-info-email {
    padding: 5px;
    color: #a3acac;
}

.acc-info-date {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 14px;
    color: #c3cbcb;

}

/* view account */


.view-account-form-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 60vh;
    margin: auto;
    margin-top: 10%;
    background-color: #fff;
    border-radius: 50px;
    box-shadow: 0px 0.5px 5px rgba(0, 0, 0, 0.400);
}


.view-account-form-div {
    width: 60%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    position: relative;
}

.view-account-form {
    width: 100%;
    height: 40px;
    margin-bottom: 30px;
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid #b3b3b3;
    text-indent: 25px;
    outline: none;
    margin-top: 10px;
}

.view-acc-label {
    font-size: 16px;
    padding-left: 5px;
    color: #3b3b3b;
    font-weight: bold;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
}



#myInput {
    position: relative;
}

.show-password {
    display: flex;
    position: absolute;
    font-size: 14px;
    align-items: center;
    margin-bottom: 5px;
    bottom: 35%;
    right: 0%;
}

.show-update-account-div {
    display: flex;
    justify-content: center;
    width: 100%;
}

.show-update-account-btn {
    background-color: #d14444;
    width: 30%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    outline: none;
    cursor: pointer;
}

#profile-icon{
    position: absolute;
    top: 7%;
    left: 1%;
}

#email-icon{
    position: absolute;
    top: 33%;
    left: 1%;
}

#pass-icon{
    position: absolute;
    top: 57%;
    left: 1%;
}

#web-icon {
    position: absolute;
    top: 82%;
    left: 1%;
}

/* update */

.update-account-div {
    display: flex;
    justify-content: center;
    padding-top: 10%;
}
.update-account-btn {
    background-color: #d14444;
    border: none;
    width: 50%;
    height: 40px;
    border-radius: 30px;
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    outline: none;
    cursor: pointer;
}

.update-account-title-div {
    font-size: 24px;
    margin-bottom: 5%;
    letter-spacing: 0.5px;
    font-weight: bold;
    color: #3b3b3b;
}

#profile-icon-update{
    position: absolute;
    top: 5%;
    left: 1%;
}

#email-icon-update{
    position: absolute;
    top: 26%;
    left: 1%;
}

#pass-icon-update{
    position: absolute;
    top: 46%;
    left: 1%;
}

#web-icon-update {
    position: absolute;
    top: 66%;
    left: 1%;
}